apiVersion: apps/v1
kind: Deployment
metadata:
  name: chroma
spec:
  selector:
    matchLabels:
      app: chroma
  template:
    metadata:
      labels:
        app: chroma
    spec:
      containers:
        - name: chroma-db
          image: 730335183084.dkr.ecr.ap-south-1.amazonaws.com/chroma:latest
          ports:
            - containerPort: 8000
---
apiVersion: v1
kind: Service
metadata:
  name: chroma
spec:
  selector:
    app: chroma
  ports:
    - port: 8000
      targetPort: 8000
